.banner {
    background: url('../img/baner-bg.png') center/cover no-repeat;
    padding: 72px 0px;
    &__title {
        font-size: 68px;
        line-height: 110%;
        text-align: center;
        color: #0F172A;
        max-width: 880px;
        width: 100%;
        margin: 0 auto 32px;
        position: relative;
        .border {
            display: inline-flex;
            p {
                font-size: 68px;
                line-height: 110%;
                color: #F7B23B;
                padding: 0px 5px;
            }
            position: relative;
            border: 1px solid #F7B23B;
            &__block {
                background: #FFFFFF;
                border: 1px solid #F7B23B;
                width: 8px;
                height: 8px;
                box-sizing: border-box;
                display: flex;
                flex-shrink: 0;
                position: absolute;
                &_1 {
                    left: -4px;
                    top: -4px;
                }
                &_2 {
                    right: -4px;
                    top: -4px;
                }
                &_3 {
                    bottom: -4px;
                    right: -4px;
                }
                &_4 {
                    bottom: -4px;
                    left: -4px;
                }
            }
        }
        .arrow {
            position: absolute;
            right: -44px;
            bottom: -38px;
            width: 165px;
            height: 65px;
            &__wrapper {
                position: relative;
                height: 100%;
            }
            svg {
                position: absolute;
                top: 0;
                left: 0;
            }
            &__text {
                position: absolute;
                bottom: 7px;
                right: 6px;
                font-size: 20px;
                line-height: 110%;
                color: #FFFFFF;
                padding: 4px 8px;
                background: #F9C56C;
                border-radius: 2px 12px 12px 12px;
                box-shadow: 12px 12px 12px 0px rgba(47, 47, 47, .2);
            }
        }
    }
    &__label {
        max-width: 730px;
        width: 100%;
        margin: 0 auto;
        font-size: 20px;
        line-height: 120%;
        color: #48566A;
        margin-bottom: 16px;
    }
    &__slider {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 40px;
        max-width: 730px;
        width: 100%;
        margin: 0 auto 32px;
    }
    &__range {
        // margin-bottom: 30px;
        max-width: 450px;
        width: 100%;
        &-count {
            background: #FFFFFF;
            border-radius: 8px 8px 0px 0px;
            display: flex;
            align-items: center;
            padding: 0px 24px;
            height: 48px;
            p {
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: -0.01em;
                color: #171717;
            }
        }
    }
    &__steps {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-step {
            font-size: 16px;
            line-height: 150%;
            color: #344256;
        }
    }
    &__price {
        font-size: 24px;
        line-height: 120%;
        color: #48566A;
        padding-bottom: 13px;
        span {
            color: #04B7D6;
        }
    }
    &__form {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border-radius: 12px;
        overflow: hidden;
        height: 64px;
        max-width: 730px;
        width: 100%;
        margin: 0 auto;
        padding: 8px;
        box-sizing: border-box;
        svg {
            display: flex;
            margin-right: 10px;
            margin-left: 4px;
        }
        input {
            border: none;
            font-weight: 500;
            font-size: 20px;
            line-height: 62px;
            letter-spacing: -0.01em;
            color: #171717;
            &::placeholder {
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 62px;
                letter-spacing: -0.03em;
                color: #94A3B8;
            }
        }
        button {
            padding: 3px 20px 0px 20px;
            border: none;
            margin-left: auto;
        }
    }
}
