.calc {
    padding: 36px 0px;
    background: #F1F5F9;
    position: relative;
    &__wrapper {
        background: #FFFFFF;
        border-radius: 12px;
        padding: 30px 30px 50px 30px;
    }
    &__title {
        position: relative;
        max-width: 600px;
        width: 100%;
        margin-bottom: 64px;
        .arrow {
            position: absolute;
            transform: rotate(-11.83deg);
            right: -103px;
            bottom: 4px;
            p {
                font-size: 20px;
                line-height: 110%;
                color: #FFFFFF;
                padding: 4px 8px;
                border-radius: 2px 12px 12px 12px;
                background: #F9C56C;
                box-shadow: 12px 12px 12px 0 rgba(47,47,47,.2);
            }
        }
    }
    &__sale {
        font-size: 16px;
        line-height: 120%;
        color: #04B7D6;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
        &_small {
            display: none;
        }
    }
    &__calcwr {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__left {
        max-width: 745px;
        width: 100%;
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            margin-bottom: 32px;
        }
    }
    &__right {
        max-width: 295px;
        width: 100%;
        background: #04B7D6;
        border-radius: 24px;
        padding: 24px;
        box-sizing: border-box;
    }
    &__price {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        p {
            font-size: 36px;
            line-height: 120%;
            color: #FFFFFF;
        }
        span {
            font-size: 12px;
            line-height: 120%;
            color: #F1F5F9;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        &-input {
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            gap: 10px;
            background: #F1F5F9;
            border-radius: 12px;
            padding: 0px 12px;
            box-sizing: border-box;
            height: 56px;
            margin-bottom: 16px;
            svg {
                display: flex;
                flex-shrink: 0;
            }
            input {
                border: none;
                background: transparent;
                padding: 0;
                height: 100%;
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.03em;
                color: #0F172A;
                &::placeholder {
                    color: #94A3B8;
                }
            }
        }
        button {
            padding: 0;
            border: none;
            height: 48px;
            background: #0F172A;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Muller', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
            padding-top: 3px;
            box-sizing: border-box;
        }
    }
    &__select {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__label {
        font-size: 20px;
        line-height: 24px;
        color: #94A3B8;
    }
    &__value {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F1F5F9;
        border: 1px solid #9BE2EF;
        border-radius: 12px;
        height: 60px;
        box-sizing: border-box;
        position: relative;
        padding: 4px 12px;
        width: 267px;
        cursor: pointer;
        svg {
            padding-top: 3px;
        }
        .value {
            font-size: 20px;
            line-height: 24px;
            padding-top: 3px;
            color: #94A3B8;
            width: 100%;
        }
    }
    &__options {
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E1E7EF;
        border-radius: 12px;
        padding: 20px 16px;
        box-sizing: border-box;
        display: none;
        flex-direction: column;
        z-index: 2;
        .option {
            font-size: 16px;
            line-height: 20px;
            color: #0F172A;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px 0px;
            transition: .3s all;
            border-radius: 6px;
            cursor: pointer;
            &:hover {
                background: #F1F5F9;
            }
        }
    }
    &__options.active {
        display: flex;
    }
    &__range {
        max-width: 100%;
        &-count {
            background: #f1f5f9;
        }
    }
    &__steps {
        &-step {
            transition: .3s all;
            cursor: pointer;
            &:hover {
                color: #04B7D6;
            }
        }
    }
}
@media (max-width: 1230px) {
    .calc {
        &__value {
            width: 204px;
        }
        &__label {
            padding-top: 3px;
        }
    }
}
@media (max-width: 1022px) {
    .calc {
        &__calcwr {
            flex-direction: column;
            gap: 0px;
        }
        &__right {
            max-width: 100%;
        }
        &__value {
            width: 248px;
        }
        &__sale {
            display: none;
            &_small {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 16px;
            }
        }
        &__left {
            margin-bottom: 92px;
        }
        &__form {
            flex-direction: row;
            justify-content: space-between;
            gap: 16px;
            &-input {
                margin-bottom: 0px;
                width: 50%;
            }
            button {
                height: 56px;
                width: 50%;
            }
        }
    }
}
@media (max-width: 798px) {
    .calc {
        &__title {
            .arrow {
                right: -20px;
                bottom: -12px;
            }
        }
        &__left {
            margin-bottom: 70px;
            &-top {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__label {
            min-width: 83px;
        }
        &__select {
            width: 100%;
        }
        &__value {
            width: 100%;
        }
    }
}
@media (max-width: 606px) {
    .calc {
        padding: 24px 0px;
        &__title {
            margin-bottom: 30px;
            .arrow {
                display: none;
            }
        }
        &__form {
            flex-direction: column;
            &-input {
                width: 100%;
            }
            button {
                width: 100%;
            }
        }
    }
}
@media (max-width: 375px) {
    .calc {
        &__wrapper {
            padding: 15px 15px 25px 15px;
        }
        &__price {
            p {
                font-size: 30px;
            }
        }
        &__form {
            button {
                font-size: 15px;
            }
        }
        &__sale {
            font-size: 13px;
        }
    }
}