.contacts {
    padding: 36px 0px;
    position: relative;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        &-left {
            max-width: 440px;
            width: 100%;
        }
        &-right {
            max-width: 440px;
            width: 100%;
        }
    }
    &__title {
        margin-bottom: 40px;
    }
    &__list {
        &-item {
            margin-bottom: 16px;
        }
        &-text {
            font-size: 20px;
            line-height: 140%;
            color: #334155;
            a {
                color: #6567F2;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
                &:active {
                    text-decoration: none;
                    color: #6567F2;
                }
            }
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 0px 25px;
            height: 40px;
            box-sizing: border-box;
        }
    }
    &__pay {
        display: flex;
        align-items: center;
        gap: 16px;
        p {
            font-size: 20px;
            line-height: 140%;
            color: #334155;
        }
        div {
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            background: #F8FAFC;
            border-radius: 4px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: 1px solid #E1E7EF;
        border-radius: 8px;
        padding: 24px;
        &-title {
            font-size: 32px;
            line-height: 120%;
            color: #48566A;
            text-align: center;
        }
        input, textarea {
            background: #F8FAFC;
            border: 1px solid #E1E7EF;
            border-radius: 4px;
            padding: 0px 12px;
            width: 100%;
            box-sizing: border-box;
        }
        input {
            font-size: 16px;
            line-height: 46px;
            color: #334155;
            &::placeholder {
                color: #94A3B8;
            }
        }
        textarea {
            padding-top: 10px;
            font-size: 16px;
            line-height: 20px;
            color: #334155;
            height: 100px;
            max-width: 390px !important;
            width: 100% !important;
            resize: none;
            &::placeholder {
                color: #94A3B8;
            }
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            height: 48px;
            border: none;
            border-radius: 4px;
            width: 100%;
        }
    }
}
@media (max-width: 1022px) {
    .contacts {
        &__wrapper {
            flex-direction: column;
            gap: 80px;
            &-right {
                max-width: 100%;
            }
        }
        &__form {
            textarea {
                max-width: 718px !important;
            }
        }
    }
}
@media (max-width: 606px) {
    .contacts {
        padding: 24px 0px;
        &__title {
            margin-bottom: 24px;
        }
        &__wrapper {
            gap: 24px;
        }
    }
}
@media (max-width: 475px) {
    .contacts {
        &__list {
            &-text {
                font-size: 16px;
            }
        } 
    }
}
@media (max-width: 375px) {
    .contacts {
        &__form {
            &-title {
                font-size: 28px;
            }
        }
        &__pay {
            gap: 10px;
            p {
                font-size: 16px;
            }
        }
        &__list {
            &-text {
                font-size: 14px;
            }
        }
        &__buttons {
            flex-direction: column;
            &-item {
                width: 100%;
            }
        }
    }
}