.title {
    font-family: 'Muller', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
    color: #0F172A;
    span {
        color: #F7B23B;
    }
}
.suptitle {
    font-size: 24px;
    line-height: 110%;
    color: #F7B23B;
    margin-bottom: 16px;
}
@media (max-width: 798px) {
    .title {
        font-size: 35px;
        line-height: 120%;
    }
}
@media (max-width: 606px) {
    .title {
        font-size: 28px;
        line-height: 110%;
    }
    .suptitle {
        margin-bottom: 8px;
    }
}