@import './fonts';

*:active, *:focus, *:focus-within, *:target, *:hover, *:visited, *:focus-visible {
    outline: none !important;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
a { 
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
html {
    // overflow-x: hidden;
    // min-width: 320px;
}
body {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    // overflow-x: hidden;
    // min-width: 320px;
}
main {
    position: relative;
    overflow: hidden;
}
// @media (max-width: 475px) {
//     main {
//         padding-top: 149px;
//     }
// }
@media (max-width: 320px) {
    body {
        overflow-x: hidden;
    }
}
ol, ul { 
    list-style: none; 
}

label, button {
    cursor: pointer;
}

#slider-round {
    height: 2px;
}

#slider-round {
    border: none !important;
    box-shadow: none !important;
}

#slider-round .noUi-connect {
    background: #04B7D6;
}


#slider-round .noUi-handle {
    height: 12px;
    width: 12px;
    top: -5px;
    right: -6px; /* half the width */
    border-radius: 100%;
    background: #FFFFFF;
    border: 3px solid #04B7D6;
    box-sizing: border-box;
    &::before, &::after {
        display: none
    }
}

.error {
    border: 1px solid #F87272 !important;
}

@import './import';